/* main css */
html {
    background: url("../img/background.jpg") no-repeat;
    background-size: cover;
    font-family: 'Bungee Inline', cursive;
  }
h1 {
  letter-spacing: 2px;
  font-size: 2em;
  text-align: center;
  color: white;
  text-shadow: 0 0 0.3em red, 0 0 0.3em red, 0 0 0.5em black;
}
h2 {
  letter-spacing: 2px;
  font-size: 20px;
  text-align: center;
  color: white;
  text-shadow: 0 0 0.3em red, 0 0 0.3em red, 0 0 0.5em black;
  margin: 5px 0;
}
p {
  margin: 0 0;
  line-height: 40px;
}
ul {
  list-style-type: none;
  color: white;
  text-shadow: 0 0 0.3em red, 0 0 0.3em red, 0 0 0.5em black;
  padding-left: 10px;
}
button {
  display: inline-block;
  border-radius: 30px;
  box-shadow: 2px 2px 4px 2px #666666;
  padding: 4px 8px;
  margin: 0;
  background: rgba(75, 135, 215, 0.0);
  color: white;
  text-shadow: 0 0 0.3em red, 0 0 0.3em red, 0 0 0.5em black;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  font-family: 'Bungee Inline', cursive;
}
label {
  color: white;
  text-shadow: 0 0 0.3em red, 0 0 0.3em red, 0 0 0.5em black;
  margin: 0 10px;
}
form {
  margin-left: 100px;
}
#initialpopup {
  visibility: hidden;
}
#playertext {
  text-align: center;
}
#change_player {
  margin: auto;
}

/* container */
#initial_load {
    display: flex;
    flex-direction: column;
  }
#main_game {
    display: flex;
    flex-direction: row;
}
#start_game {
  display: flex;
  background: rgba(75, 135, 215, 0.0);
  color: red;
}
#memory_board {
    background: rgba(75, 135, 215, 0.2);
    width:744px;
    height:496px;
    padding:10px;
    margin:0px 10px;
    border-radius: 40px;
    box-shadow: 2px 2px 4px 2px #666666;
}
#score {
  background: rgba(75, 135, 215, 0.2);
  width:300px;
  height:496px;
  padding:8px;
  border-radius: 40px;
  box-shadow: 2px 2px 4px 2px #666666;
  color: white;
  text-shadow: 0 0 0.3em red, 0 0 0.3em red, 0 0 0.5em black;
  font-size: 18px;
  font-weight: bold
}
#finished {
  color:red;
  font-size: 50px;
  font-weight: bold;
}

/* cards */
.card .back {
    background-color: rgba(75, 135, 215, 0.4);
    width:70px;
    height:70px;
    float:left;
    margin:7px;
    padding:20px;
    font-size:64px;
    box-shadow: 2px 2px 4px 2px #666666;
}
.front {
    background-size: contain; 
}

  /* popup window */
.popup {
    display: none;
    position: fixed;
    padding: 10px;
    width: 340px;
    height: 150px;
    left: 220px;
    top: 300px;
    z-index: 1;
    color: white;
    text-shadow: 0 0 0.3em red, 0 0 0.3em red, 0 0 0.5em black;
}
#mypopup:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.4);
    z-index: -2;
}
#mypopup:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(75, 135, 215, 0.8);
    box-shadow: inset 2px 2px 2px 2px #bebebe, 2px 2px 2px 2px rgba(75, 135, 215, 0.5);
    z-index: -1;
}
  
  